---
import Button from "../ui/Button.astro";
interface HeroContent {
    extra: string;
    title: string;
    description: string;
    buttons?: {
        text: string;
        link: string;
        variant?: "primary" | "secondary" | "ghostLight" | "ghostDark";
        target?: string;
    }[];
    backgroundImage?: string | any;
    overlayOpacity?: number;
}

interface Props {
    content: HeroContent;
}

const { content } = Astro.props;
---

<section class="header-offset relative min-h-screen flex items-center" id="inicio">
    <div
        class="site-container mx-auto px-6 py-16 relative z-10 flex flex-col md:flex-row md:items-center md:justify-between gap-8"
    >
        <div class="flex flex-col text-start md:text-left md:w-2/3">
            <p class="uppercase text-lg font-semibold mb-4 text-[#797979]" data-aos="fade-up">
                {content.extra}
            </p>
            <span class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold mb-4 block text-[#3e2723]" data-aos="fade-up">
                {content.title}
            </span>
            <p class="text-base sm:text-lg md:text-xl leading-relaxed text-[#717171]" data-aos="fade-up">
                {content.description}
            </p>
            {
                content.buttons && content.buttons.length > 0 && (
                    <div class="flex flex-wrap gap-4 mt-8" data-aos="fade-up">
                        {content.buttons.map((button) => (
                            <Button
                                href={button.link}
                                target={button.target || "_self"}
                                variant={button.variant || "primary"}
                                size="lg"
                            >
                                {button.text}
                            </Button>
                        ))}
                    </div>
                )
            }
        </div>
        <div class="about-image flex justify-center md:justify-end md:w-1/3" data-aos="fade-left">
            <img src="../../public/coffee.png" alt="" class="rounded-3xl max-w-full h-auto shadow-md" />
        </div>
    </div>
</section>
